 body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Courier New', monospace;
}

p {
  font-family: 'Courier New', monospace;
  font-size: 20px;
}
h2, h3 {
  font-family: 'Courier New', monospace;
}